.bg-theme {
  background-color: #218f76;
}
.cart-icon {
  font-size: 2rem;
}
.hero-background {
  height: 50vh;
  display: flex;
}

.about-background {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning {
  padding: 8px 35px;
}

.modalstyle {
  width: 300;
  display: flex;
}
